/*----*/
html{
  width: 100%;
  height:100%;
  background-image: linear-gradient(to bottom right,rgb(213, 213, 247),rgb(255, 255, 245));
  background-size:cover;
}
/*big. across the top. keep on top when scrolling but shrink*/
.header{
  background-color:black;
  display: block;
  text-align: center;
  text-shadow: 2px 4px rgba(125,125,125,1.0);
  font-size: 8em;
  color: rgb(52, 19, 241);
  font-family: "Helvetica","Lucida Handwriting" ,"Verdana", "serif" ;
  text-decoration-line: underline;
}

p{
  color:rgba(10, 12, 12, 0.9);
  text-shadow: 2em, 4em rgba(58, 19, 201, 0.9);

  display: block;
  margin: auto;
  padding: 50px;
  font-size: 2em;
  font-family:"Helvetica", "Times New Roman", "Times", "sans-serif";
  color: rgba(10, 12, 12, 0.9);

}

/*nav bar displayed at the top.*/
.nav_bar{
  display: inline;
  font-size: 1.5em;
  margin:0%;
  padding:0%;
  
}


h1{
  color: rgba(8, 33, 71, 1.0);
  
}

#mutt{
  display: block;
  max-width: 100%;
  height: 450px;
  padding: 2em;
  
}