/*----------MAIN----------*/

/*----------global styles----------*/
body {
  background-color: rgba(1,1,1,1.0);
  text-align: center;
  font-family: sans-serif;
  
}



p{
  color:rgba(242, 242, 242, 0.7);
  display: block;
  margin: auto;
  padding: 10px;
  font-size: 2em;
  font-family:"Helvetica", "Times New Roman", "Times", "sans-serif";
  
}

/*----------index landing page--------*/
.mountain{
  background-image: linear-gradient(to bottom, rgba(99,99,99,0.3),rgba(1,1,1,1.0)), url(images/pexels-pixabay-326235.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: auto;
  
}

/*-----arounthemountain.com-----*/
.header{
  display: block;
  background-color: transparent ;
  position:absolute;
  top: 100px; left: 21%;
  block-size: 0.7em;
  text-align: center;
  margin-top: 0px;
  text-shadow: 2px 4px rgb(178, 208, 245);
  font-size: 6em;
  color: rgba(242, 242, 242, 0.7);
  font-family: "Helvetica","Lucida Handwriting" ,"Verdana", "sans-serif" ;
}
/*-------digital portfolio-------*/
.tagline{
  display: block;
  position:absolute;
  top:170px; left:35%;
  writing-mode: horizontal-tb;
  block-size: auto;
  background-color:transparent;
  text-align:center;
  font-size: 2.0em;
  padding: 0px;
  color: rgba(250, 249, 253, 0.8);
  font-family:"Helvetica","Lucida Handwriting" ,"Verdana", "sans-serif" ;

}
/*----------contact----------*/

#contact-p{
  color:rgba(30, 85, 5, 0.877);
  position:relative;
  margin-top: 25px;
}

/*contact email button*/
.button-email{
  box-shadow: 3px 4px 0px 0px #899899;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:12px;
	border:1px solid #d6bcd6;
	display:inline-flex;
	cursor:pointer;
	color:#0b0d0e;
	font-family:Arial;
	font-size:17px;
	padding:7px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  margin-top: 400px;
}


/*----------projects----------*/
.boxes{
  background:linear-gradient(to left, rgb(161, 229, 241) 20%, rgb(83, 84, 85) 70%);
  display: inline-block;
  font: large; 
  border-style: inset;
  border-color:#049ff8;
}

#link{
  color:black;
}
#boxOne{
  padding: 2em;
  margin: 2em;
  border-style: inherit;
  border-color: inherit;
}
#boxTwo{
  padding: 2em;
  margin: 2em;
  border-style: inherit;
  border-color: inherit;
}#boxThree{
  padding: 2em;
  margin: 2em;
  border-style: inherit;
  border-color: inherit;
}
#boxFour{
  padding: 2em;
  margin: 2em;
  border-style: inherit;
  border-color: inherit;
}


/*mobile menu and linkdin link*/
.icons{
  display:table-footer-group;
  bottom: 2px;
  display: inline;
  color:#f30b0b;
  font-size: 100px;
}

.icons:hover{
  color:rgb(252, 249, 250);
  
  
}
.linkedIn{
  position: relative;
  display: inline;
  color:rgb(243, 4, 4);
  font-size: 50px;
}