/*--MAIN--*/
html{
  width: 100%;
  height:100%;
  background-image: linear-gradient(to bottom right,rgb(221, 230, 245),rgb(77, 110, 160));
  background-size:cover;
}
/*big. across the top. keep on top when scrolling but shrink*/
.header{
  background-color:black;
  display: block;
  block-size: 1.33em;
  border-radius:50%;
  text-align: center;
  text-shadow: 2px 4px rgba(125,125,125,1.0);
  font-size: 8em;
  color: rgb(223, 218, 248);
  font-family: "Helvetica","Lucida Handwriting" ,"Verdana", "serif" ;
  text-decoration-line: underline;
}

#tagline{
  display: block;
  writing-mode: horizontal-tb;
  block-size: auto;
  background-color: black;
  border-radius: 50%;
  text-align:center;
  font-size: 2em;
  color: rgb(223, 218, 248);
  font-family:"Helvetica","Lucida Handwriting" ,"Verdana", "serif" ; 



}

p{
  color:black;
  display: block;
  margin: auto;
  padding: 50px;
  font-size: 2em;
  font-family:"Helvetica", "Times New Roman", "Times", "sans-serif";
  
}

#main-para{
  color:black;
  padding: 50px;
}

/*nav bar displayed at the top.*/
.button-menu{
  box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.button-menu:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.button-menu:active {
	position:relative;
	top:1px;
}




h1{
  color: rgba(8, 33, 71, 1.0);
  
}

#mutt{
  display: inline-block;
  max-width: 100%;
  height: 450px;
  padding: 2em;
  
}

.testbutton{
  box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.testbutton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.testbutton:active {
	position:relative;
	top:1px;
}

