/*----*/
/*mobile friendly*/
@media all and (max-width: 950px){
  .header{
    font-size: 3.0em;
   
  }
  body{
    background-image: url(images/blue-1.jpg);
    background-color: black;
}  

  #hide_red{
    display: none;

  }
  .blue-board{
    display: none;
  }

}
@media all and (max-width: 500px){
  body{
    background-color: none;
    
  }

  p{
    font-size: 1.5em;
  }
/*main page*/ 
  #tagline{
    padding-top: 20px;
  }
  .header{
    padding-bottom:40px;
  }
/*move topnav to the bottom of the page or under h3*/
  #top-buttons{
    display:inline-flex;
    float: inline-end;
    position:relative;
    overflow:scroll;
    bottom:40px;

  }

}
/*---------about page----------*/
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 40s infinite forwards linear;
  }
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }



}