/*--This is more of a 'coming soon' --*/

@media all and (max-width: 768px){
  body{
    background-image:url("images/pexels-pixabay-s.jpg");
  }
  .mountain{
    display: none;
  }
  .shadowEffect{
    display: none;
  }
}
  


 


@media all and (max-width: 320px){
  
 
  


}